
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --strong-blue: #12243f;
  --light-red: #ee3030d9;
}
body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-primary-gradient {
  background: linear-gradient(90deg, var(--strong-blue), var(--light-red)  );
}

.bg-strong-blue {
  background: var(--strong-blue);
}

.bg-light-red {
  background: var(--light-red);
}

.text-responsive {
  color: #333333;
}

@media (min-width: 768px) {
  .text-responsive {
    color: #ffffff;
  }
}
.fs-md-1 {
  font-size: calc(1.625rem + 4.5vw) !important;
}

.fs-md-2 {
  font-size: calc(1.5rem + 3vw) !important;
}

.fs-md-3 {
  font-size: 1.75rem !important;
}

@media (min-width: 768px) {
  .fs-md-1 { font-size: 2.5rem !important; }  /* same as Bootstrap's fs-1 */
  .fs-md-2 { font-size: 2rem !important; }    /* same as fs-2 */
  .fs-md-3 { font-size: 1.75rem !important; } /* same as fs-3 */
}
